.userCard {
  width: 300px;
  background-color: #ffffff;
  border: 1px solid #0c0d0e;
  margin: 0 auto 60px;
  border-radius: 8px;
  padding-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.userData {
  text-align: center;
}

.userFoto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: #0c0d0e;
}

.userInfo {
  margin-bottom: 15px;
  font-size: 16px;
  color: #a7a9ac;
}
.userInfoSurname {
  font-weight: bold;
}

.userSocial {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color: #a7aaad;
}

.userList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: 1.5px solid rgb(68, 68, 68);
  padding: 5px;
}

.userUnitValue {
  font-weight: bold;
  padding-top: 10px;
}
